@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.container-geral{
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
}
/* HEADER */
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    padding-right: 5px;
}
.menu {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    /* border: 1px solid red; */
}
nav ul li{
    margin-left: 20px;
}
@media(max-width:640px){
   nav ul li:nth-child(1){
       margin-left: 0px;
   }
}

/* SUB BANNER */

.sub-banner {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A5A1A1;
}
@media(max-width:640px) {
    .sub-banner{
        font-size: 12px;
    }
  
}

/* CONTEUDO */
.container-img  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 30px;
}

@media(max-width:600px) {
    .container-img{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
    .primeira-linha, .segunda-linha, .terceira-linha{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
} 
/* 
} */
.container-img-1 p, .container-img-2 p, .container-img-3 p, .container-img-4 p, .container-img-5 p,.container-img-6 p, .container-img-7 p, .container-img-8 p, .container-img-9 p{
    line-height: 1.75em;
}
@media(max-width:640px) {
    .container-img-1 p, .container-img-2 p, .container-img-3 p, .container-img-4 p, .container-img-5 p, .container-img-6 p, .container-img-7 p, .container-img-8 p, .container-img-9 p{
        font-size: 10px;
    }

}
.container-img-1 p:nth-child(3), .container-img-2 p:nth-child(3), .container-img-3 p:nth-child(3), .container-img-4 p:nth-child(3), .container-img-5 p:nth-child(3), .container-img-6 p:nth-child(3), .container-img-7 p:nth-child(3), .container-img-8 p:nth-child(3), .container-img-9 p:nth-child(3){
    font-weight: bold;
    margin-bottom: 30px;
}
@media(max-width:640px){
    .container-img-1 p:nth-child(3), .container-img-2 p:nth-child(3), .container-img-3 p:nth-child(3), .container-img-4 p:nth-child(3), .container-img-5 p:nth-child(3), .container-img-6 p:nth-child(3),.container-img-7 p:nth-child(3),.container-img-8 p:nth-child(3),.container-img-9 p:nth-child(3) {
        margin-bottom: 20px;
    }
}
.img-1 {
    width: 200px;
    height: 200px;
    background: url('../img/gabrielle-henderson-1DMNn6gBbwQ-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
@media(max-width:640px){
    .img-1{
        width: 100px;
        height: 100px;  
    }
}
.img-2 {
    width: 200px;
    height: 200px;
    background: url('../img/devin-avery-bMH8ub9z1_U-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
@media(max-width:640px){
    .img-2{
        width: 100px;
        height: 100px;  
    }
}
.img-3 {
    width: 200px;
    height: 200px;
    background: url('../img/devin-avery-BRVqq2uak4E-unsplash.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px; 
}
@media(max-width:640px){
    .img-3{
        width: 100px;
        height: 100px;  
    }
}
.img-4 {
    width: 200px;
    height: 200px;
    background: url('../img/nery-montenegro-SmEty_TVr80-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
@media(max-width:640px){
    .img-4{
        width: 100px;
        height: 100px;  
    }
}
.img-5 {
    width: 200px;
    height: 200px;
    background: url('../img/olena-sergienko-GOVTETevRm8-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
@media(max-width:640px){
    .img-5{
        width: 100px;
        height: 100px;  
    }
}
.img-6 {
    width: 200px;
    height: 200px;
    background: url('../img/pharma-hemp-complex-tAzdKblAinw-unsplash.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px; 
}
@media(max-width:640px){
    .img-6{
        width: 100px;
        height: 100px;  
    }
}
.img-7 {
    width: 200px;
    height: 200px;
    background: url('../img/phaedra-botanicals-uFAHrKYkTVI-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
@media(max-width:640px){
    .img-7{
        width: 100px;
        height: 100px;  
    }
}
.img-8 {
    width: 200px;
    height: 200px;
    background: url('../img/pharma-hemp-complex-yVAXSK6zFIM-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
@media(max-width:640px){
    .img-8{
        width: 100px;
        height: 100px;  
    }
}
.img-9 {
    width: 200px;
    height: 200px;
    background: url('../img/chandra-oh-y5hRv6UNKMg-unsplash.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px; 
}
@media(max-width:640px){
    .img-9{
        width: 100px;
        height: 100px;  
    }
}
.preco {
    color: #5CA720;
    font-weight: 600;
}

/* NEWSLATTER */

.newslatter {
    background: #F9F9F9;
    border: 1px solid #a1a1a5;
    border-left:none ;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    flex-wrap: wrap;
}
@media(max-width:640px) {
    .newslatter {
        display: flex;
        flex-direction: column;
    }
}
.descricoes {
    line-height: 1.75em;
    font-weight: 700;
    /* border: 1px solid red; */
}
@media(max-width:640px) {
    .descricoes {
        font-size: 12px;
        margin-bottom: 50px;
    }
}
/* .formulario {
    
} */
@media(max-width:640px) {
    .formulario {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
}
label {
    display: block;
    margin-bottom: 10px;
}
.email {
    padding: 5px;
}
@media(max-width:640px){
    .email {
        width: 220px;
    }
}
.btn {
    padding: 8px;
    border: none;
    background: #5CA720;
    color: #ffff;
}
/* RODAPÉ */

.rodape {
    background: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.pagamentos {
    display: flex;
}
.pagamentos img{
    margin-left: 10px;
}
@media(max-width:640px) {
    .pagamentos img {
        width: 20px;
    }
}
.redes-sociais {
    display: flex;
    align-items: center;
}
.redes-sociais img {
    margin-right: 10px;
}